* {box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- Badges --- */

.gridcontainer{
    /*display:grid;
    height:100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
    "badge"
    "badge"
    "badge"
    "badge"
    "badge"
    "badge"
    "badge";*/
    display:flex;
    flex-direction: column;
    background: #D3ECEB;
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

body, html {
  font-family: Arial;
  font-style: bold;
}

.badge1, .badge2, .badge3, .badge4, .badge5, .badge6, .badge7, .badge8 {
    background:#F1F8F8;
    padding: 20px;
    margin: 30px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 25px;
    color: #003A44;
}

.badgeicon{
    margin: 10px;
}

/*.badgetitle{
    grid-area:btitle;
    font-size: 38px;
    margin: 10px;
    padding-left: 20px;
}*/

.badgedesc{
    font: 26px arial;
    margin: 10px;
    padding-left: 20px;
}

.badgecontainer{
    /*display:grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "bicon btitle"
    "bicon bdesc";*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.badgeicon img {
  width: 200px;
}

/*--- Header --- */

.header{
    font: 40px arial;
    font-weight: bold;
    height: 200px;
    display:flex;
    align-items: center;
    padding-left: 20px;
    color: #003A44;
}

/* --- Navbar & Menu --- */

.topnav {
    background-color: #7499A3;
    display: flex;
	  flex-grow: 1;
	  height: 100px;
	  overflow: hidden;
    justify-content: space-between;
    position: sticky; 
    top: 0;
    width: 100%;
    align-items: center;
}

.topnav img {
    margin-left: 20px;
    margin-right: 20px;
}

.topnav .toggle {
  display: none;
}

.menubar {
    background-color: #7499A3;
    display: flex;
	  flex-grow: 1;
	  height: 95px;
	  overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
    height: 100px;
}

@media screen and (min-width:1024px){
    
   .topnav img {
    margin-right: 80px;
}
  
    .badgeicon img {
        width: 100px;
    }

    .menubar {
        display:none;
    }

    .badgedesc {
        font-size: medium;
    }

    .header {
        font-size: 24px;
    }
      
      .topnav .toggle {
        position: absolute;
        width: 36px;
        height: 28px;
        background: url(images/toggle.png);
        background-size: cover;
        cursor: pointer;
        right: 0;
        margin-right: 20px;
      }
      .topnav .toggle.active {
        background: url(images/close.png);
        background-size: cover;
        
      }
      
      @media (min-width: 1023px) {
        .topnav .toggle {
          display: block;
        }
    }

      /* --- SIDEBAR --- */
    
.sidebar {
    position: fixed;
    right: -200px;
    top: 95px;
    width: 200px;
    height: 100%;
    background: #7499A3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
  }
  .sidebar.active {
    right: 0;
  }
  .sidebar ul {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .sidebar ul li {
    list-style: none;
    margin: 10px 0;
  }
  .sidebar ul li a {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
  }
  .sidebar ul li a:hover {
    color: #3f8ffc;
  }
}

@media (min-width: 1024px) {
    .sidebar ul {
        display: block;
    }
}

@media (max-width: 1024px) {
  .sidebar ul {
    display: none;
  }
}

/* --- Tabs --- */

.tablink {
  border-top-left-radius:2em;
  border-top-right-radius:2em;
  margin: -17px -100px 0px 0px;
  background-color: #3E747F;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 25px 16px;
  font-size: 25px;
  width: 35%;
  font-style: bold;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
    font-style: bold;
  }

#Alle {background-color: #D3ECEB;}
#Laest {background-color: #D3ECEB;}
#Optjent {background-color: #D3ECEB;}

hr {
    margin-top: 61px;
    border: none;
  }