.gridcontainer{
    display:grid;
    height:100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    background: #D3ECEB;
    grid-template-areas:
    "badge"
    "badge"
    "badge"
    "badge"
    "badge"
    "badge"
    "badge";
}

.badge{
    background:#F1F8F8;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}



.badgeicon{
    margin: 10px;
}

/*.badgetitle{
    grid-area:btitle;
    font-size: 38px;
    margin: 10px;
    padding-left: 20px;
}*/

.badgedesc{
    font-size: 38px;
    margin: 10px;
    padding-left: 20px;
}

.badgecontainer{
    /*display:grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "bicon btitle"
    "bicon bdesc";*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}