.gridcontainer{
    display:grid;
    height:100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    background: #D3ECEB;
    grid-template-areas:
    "badge"
    "badge"
    "badge"
    "badge"
    "badge"
    "badge"
    "badge";
}

.badge{
    background:#F1F8F8;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}

.badgeicon{
    grid-area: bicon;
}

.badgetitle{
    grid-area:btitle;
}

.badgedesc{
    grid-area:bdesc;
}

.badgecontainer{
    display:grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "bicon btitle"
    "bicon bdesc";
}