.container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 7fr);
}

.itemlogo{
  background: #BADA55;
  grid-column: 1/-1;
  grid-row: 2/ 2;
}

.itemrandom{
  background: purple;
  grid-column: 1/1;
  grid-row: 3;
}

.item{
  background: blue;
}
