/*Lavet af ligesom tilsvarende html: Anna*/
body{
  background: #F1F8F8;
  font-family: arial;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  font-style: italic;
  font-family: arial;
  text-decoration: none;
  color: #025560;
  margin: 0;
  padding: 0;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h1{
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: #025560;
  font-family: arial;
  font-style: italic;
}


/*h2 media*/
 h2{
   font-size: 50px;
   justify-content: center;
   align-items: center;
   margin-left: 20px;
 }
/*Done h2 media*/




.wrapper{
margin:auto;
}

.menu{
  display: grid;
  grid-gap: 100px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 200px 200px;
  width: auto;
}

.icon{
  display: inline-grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.badgeicon{
  background-image: url("images/ucl.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 75px;
}

.profileicon{
  background-image: url("images/profil.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.kuponicon{
  background-image: url("images/kupon.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.friendsicon{
  background-image: url("images/friends.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.box{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
  margin-top: 150px;
  margin-left: 260px;
}

.box img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px;
}


button{
  background-color: #F58E76;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 400px;
}
