body{
  background: #F1F8F8;
  font-family: arial;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  font-style: italic;
  font-family: arial;
  text-decoration: none;
  color: #025560;
  margin: 0;
  padding: 0;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h1{
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: #025560;
  font-family: arial;
  font-style: italic;
}


/*h2 media*/

@media screen and (max-width:767px){
  h2{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
}


@media screen and (min-width:768px) and (max-width:1023px){
 h2{
   font-size: 22px;
   justify-content: center;
   align-items: center;
   margin-left: 20px;
 }
}

@media screen and (min-width:1024px){
 h2{
   font-size: 30px;
   justify-content: center;
   align-items: center;
 }
}
/*Done h2 media*/




.wrapper{
margin:auto;
}

.menu{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 200px 200px;
  width: auto;
}

.icon{
  display: inline-grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:767px){
.badgeicon{
  background-image: url("images/ucl.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 30px;
}

.profileicon{
  background-image: url("images/profil.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.kuponicon{
  background-image: url("images/kupon.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.friendsicon{
  background-image: url("images/friends.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}
}


@media screen and (min-width:768px) and (max-width:1023px){
.badgeicon{
  background-image: url("images/ucl.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 30px;
}

.profileicon{
  background-image: url("images/profil.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.kuponicon{
  background-image: url("images/kupon.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.friendsicon{
  background-image: url("images/friends.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
  justify-content: center;
  align-items: center;
  display: flex;
}

}
@media screen and (min-width:1024px){
.badgeicon{
  background-image: url("images/ucl.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 30px;
}

.profileicon{
  background-image: url("images/profil.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  margin-left: -10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.kuponicon{
  background-image: url("images/kupon.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.friendsicon{
  background-image: url("images/friends.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
}
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.box{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
  margin-top: 40px;
  margin-left: 100px;
}

.box img{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:1024px){
.box{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
  margin-top: 40px;
  margin-left: 140px;
}
}


button{
  background-color: #F58E76;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 400px;
}
