/*det basale*/

* {
  margin: 0;
  padding: 0;
}

body {
  background: #D3ECEB;
  color: #003A44;
  font-family: arial;
}

header {
  background-color: #F1F8F8;
}

h1 {
  font-weight: bold;
  color: #003A44;
  font-family: arial;
}

h2 {
  font-weight: bold;
  color: #003A44;
  font-family: arial;
}

p {
  color: #003A44;
  font-family: arial;
}

/*det basale*/

/*navigation*/

.navtop {
  top: 0;
  width: 100%;
  background-color: #7499A3;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #7499A3;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}

nav ul li a img {
  width: 100px;
  height: 100px;
  margin: 30px;
}

/*navigation*/

/*qr boks*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 15px;
  z-index: 10;
  background-color: #F1F8F8;
  padding: 10% 10% 0% 10%;

}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}



.modal-qrbillede {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.modal-qrtekst {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;

}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/*qr boks*/

/*Kupon siden*/

.gridcontainer{
    display:flex;
    flex-direction: column;
}

.badge{
    background:#F1F8F8;
    padding: 20px;
    margin: 50px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 25px;
    border: none;
}

#margin-bottom {
  margin-bottom: 500px;
}

.badgeicon{
    margin: 10px;
}

.badgeicon > img {
  width: 200px;
}

.badgedesc{
    font: 26px arial;
    margin: 10px;
    padding-left: 20px;
    text-align: left;
}

.badgecontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header{
    font-size: 40px;
    font-weight: bold;
    height: 200px;
    display:flex;
    align-items: center;
    padding-left: 20px;
}

/*Kupon siden*/


@media only screen and (max-width: 769px) {
  #margin-bottom {
    margin-bottom: 0px;
  }
}
