body{
  background-color: #D3ECEB;
  text-align: center;
  color: #21545E;
  font-size: 100%;
}

h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 70%;
}

#spilbillede {
  max-width: 100%;
  height: auto;
}

.maerker {
  grid-area: m;
}
.title {
  grid-area: t;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.beskrivelse {
  grid-area: bsk;
  background-color: lightblue;
}
#beskrivelse{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.kode {
  grid-area: k;
  background-color: lightgreen;
  font-family: Arial, Helvetica, sans-serif;
}

.unlock {
  grid-area: u;
  background-color: lightyellow;
  font-family: Arial, Helvetica, sans-serif;
}


.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr 1fr 0.5fr 0.5fr 0.4fr;
  grid-template-areas:
    '. . . . .'
    '. . m . .'
    '. . t . .'
    '. bsk bsk bsk .'
    '. k k k .'
    '. . u . .'
    '. . . . .';
}

@media only screen and (max-width: 769px) {}
