.bagde {
  grid-area: b;
  background-color: lightblue;
}
.title {
  grid-area: t;
  background-color: pink;
}
.beskrivelse {
  grid-area: bsk;
  background-color: lightpink;
}
.kode {
  grid-area: k;
  background-color: lightgreen;
}
.unlock {
  grid-area: u;
  background-color: lightyellow;
}


.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
  grid-template-rows: 3fr 3fr 1fr 2fr 1fr 1fr 4fr;
  grid-template-areas:
    '. . . . .'
    '. . b . .'
    '. . t . .'
    '. bsk bsk bsk .'
    '. k k k .'
    '. . u . .'
    '. . . . .';
}

@media only screen and (max-width: 769px) {}
