*{
  padding: 0%;
  margin: 0%;
}

body{
  background-color: #D3ECEB;
  text-align: center;
  color: #21545E;
  font-size: 100%;
}

.navtop {
  top: 0;
  width: 100%;
  background-color: #7499A3;
            }
nav ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li a img {
  width: 100px;
  height: 100px;
  margin: 30px;
}

.container {
padding-left: 20%;
padding-right: 20%;
}

h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 70%;
}

.spilbillede {
  max-width: 50%;
  padding: 15px;
}

.title {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  padding-bottom: 0px;
}

#beskrivelse{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  padding-bottom: 20px;
}

.indtastkode {
  margin: auto;
  width: 50%;
  justify-content: center;
  background-color: #7499A3;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  color: #003A44;
}

.button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 20px;
  color: #003A44;
  padding:3px;
}

#belønning{
  background-color: #F58E76;
  padding: 6px;
  font-weight: bold;
  font-size: 25px;
}

#nummer{
 padding: 7px;

}

#indtast {
  font-size: 20px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-kuponbillede {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.kuponbillede {
  width: 50%;
}


#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#margin-bottom {
  margin-bottom: 250px;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #7499A3;
}


@media only screen and (max-width: 769px) {

  .container {
    padding-right: 10%;
    padding-left: 10%;
  }
}
