* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

/*--- Header --- */

.header{
    font: 40px arial;
    font-weight: bold;
    height: 200px;
    display:flex;
    align-items: center;
    padding-left: 20px;
    color: #003A44;
}

/* --- Navbar & Menu --- */
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.topnav {
    background-color: #7499A3;
    display: flex;
	flex-grow: 1;
	height: 100px;
	overflow: hidden;
    justify-content: space-between;
    position: sticky; 
    top: 0;
    width: 100%;
    align-items: center;
}

.topnav img {
    margin-left: 20px;
    margin-right: 20px;
}

.topnav .toggle {
  display: none;
}

.menubar {
    background-color: #7499A3;
    display: flex;
	  flex-grow: 1;
	  height: 95px;
	  overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
    height: 100px;
}

@media screen and (min-width:1024px){
    
   .topnav img {
    margin-right: 80px;
}
  
    .badgeicon img {
        width: 100px;
    }

    .menubar {
        display:none;
    }

    .header {
        font-size: large;
    }
      
      .topnav .toggle {
        position: absolute;
        width: 36px;
        height: 28px;
        background: url(images/toggle.png);
        background-size: cover;
        cursor: pointer;
        right: 0;
        margin-right: 20px;
      }
      .topnav .toggle.active {
        background: url(images/close.png);
        background-size: cover;
        
      }
      
      @media (min-width: 1023px) {
        .topnav .toggle {
          display: block;
        }
    }

      /* --- SIDEBAR --- */
    
.sidebar {
    position: fixed;
    right: -200px;
    top: 95px;
    width: 200px;
    height: 100%;
    background: #7499A3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
  }
  .sidebar.active {
    right: 0;
  }
  .sidebar ul {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .sidebar ul li {
    list-style: none;
    margin: 10px 0;
  }
  .sidebar ul li a {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
  }
  .sidebar ul li a:hover {
    color: #3f8ffc;
  }
}

@media (min-width: 1024px) {
    .sidebar ul {
        display: block;
    }
}

@media (max-width: 1024px) {
  .sidebar ul {
    display: none;
  }
}