.item1 {
  grid-area: logo;
}
.item2 {
  grid-area: samlemaeker;
}
.item3 {
  grid-area: profil;
}
.item4 {
  grid-area: kupon;
}
.item5 {
  grid-area: venner;
}
.item6 {
  grid-area: galleri;
}


.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '. logo logo .'
    '. samlemaeker profil .'
    '. kupon venner .'
    '. galleri galleri .';
}

/*Kupon start*/

.item7 {
  grid-area: header;
}

.item8 {
  grid-area: baggrund;
  background-color: lightblue;
}

.gridcontainerkupon {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '. header header .'
    'baggrund baggrund baggrund baggrund'
    'baggrund baggrund baggrund baggrund'
    'baggrund baggrund baggrund baggrund';
}

.item8a {
  grid-area: billede;
}

.item8a > img {
  width: 85%;
  margin-top: 12%;
  margin-left: 10%;
}

.item8b {
  grid-area: header2;
  width: 300px;
  height: 50px;
}

.item8b > h2 {
  font-family: arial;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.item8c {
  grid-area: brødtekst;
  width: 300px;
  height: 80px;
}

.item8c > p {
  font-family: arial;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -15px;
}

.item8 > .subcontainerkupon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  'billede billede header2 header2 header2'
  'billede billede brødtekst brødtekst brødtekst'
  'billede billede brødtekst brødtekst brødtekst';
  border-radius: 25px;
  background: white;
  padding: 20px;
  width: 90%;
  height: 10%;
  margin: 10px;
}

/*Kupon slut*/

@media only screen and (max-width: 769px) {}
