body {
  background-color: #F1F8F8;
  color: #003A44;
  font-family: arial;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}


.item1 {
  grid-area: logo;
}
.item2 {
  grid-area: samlemaeker;
}
.item3 {
  grid-area: profil;
}
.item4 {
  grid-area: kupon;
}
.item5 {
  grid-area: venner;
}
.item6 {
  grid-area: galleri;
}


.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '. logo logo .'
    '. samlemaeker profil .'
    '. kupon venner .'
    '. galleri galleri .';
}


/*QR start*/
/*

----> bruger popup boks i stedet for 

.item7 {
  grid-area: header;
}

.item10 {
  grid-area: qr;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridcontainerqr > .item7 > h1 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.gridcontainerqr {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 3fr 2fr;
  grid-template-areas:
    '. . .'
    '. qr .'
    '. header .';
}
*/
/*QR slut*/

@media only screen and (max-width: 769px) {


}
